<div class="col-md-10 col-lg-8 col-xl-7">
    <!-- Post preview-->
    <div class="post-preview">
        <a href="/post/{{id}}">
            <h2 class="post-title">{{title}}</h2>
        </a>
        <p class="post-meta">
            {{contents}}
        </p>
        <p>post by {{user.username}}</p>
    </div>
    <!-- Divider-->
    <hr class="my-4" />
</div>