<h1>Dashboard</h1>


<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    {{!-- must be post by id --}}
                    <h2 class="post-title">Test</h2>
                </a>
                    <h3 class="post-subtitle">Problems look mighty small from 150 miles up</h3>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on September 24, 2022
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        </div>
    </div>
</div>

<div class="container">
<form id="post-form" class="card-body">
    <h1 class="h3 mb-3 fw-normal">Write Post Below:</h1>
    <div class="form-floating">

      <input type="text" class="form-control" id="title-input" placeholder="Title">
      <label for="title-input">Title</label>

    </div>
    <div class="form-floating">

      <input type="text" class="form-control" id="contents-input" placeholder="Contents">
      <label for="contents-input" class="form-label">Contents</label>

    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" id="login-btn">Post</button>
  </form>
  </div>

<script src="/js/makepost.js"></script>