<h1>Dashboard</h1>


{{#if loggedIn}}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        {{#each posts as |post|}}
        {{> userpost}}
        {{/each}}
    </div>
</div>



<div class="container">
    <form id="post-form" class="card-body">
        <h1 class="h3 mb-3 fw-normal">Write Post Below:</h1>
        <div class="form-floating">

            <input type="text" class="form-control" id="title-input" placeholder="Title">
            <label for="title-input">Title</label>

        </div>
        <div class="form-floating">

            <input type="text" class="form-control" id="contents-input" placeholder="Contents">
            <label for="contents-input" class="form-label">Contents</label>

        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" id="login-btn">Post</button>
    </form>
</div>
{{else}}
<div class="login-alert"><a href="/login">You must login to view the dashboard and make a post</a></div>
{{/if}}

<script src="/js/makepost.js"></script>