<div class="container w-50">
<main class="form-signin w-100 m-auto">
  <form id="login-form" class="card-body">
    {{!-- <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> --}}
    <h1 class="h3 mb-3 fw-normal">Please Login</h1>
    <div class="form-floating">
      <input type="text" class="form-control" id="username-input-login" placeholder="name@example.com">
      <label for="username-input-login">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password-input-login" placeholder="Password">
      <label for="password-input-login" class="form-label">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" id="login-btn">Sign in</button>
        <a href="/signup">Sign Up instead</a>
  </form>
</main>
</div>

<script src="/js/login.js"></script>