<div class="container w-50">
<main class="form-signin w-100 m-auto">
  
  <form id="signup-form" class="card-body">
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
    <div class="form-floating">

      <input type="text" class="form-control" id="username-input-signup" placeholder="name@example.com">
      <label for="username-input-signup">Username</label>

    </div>
    <div class="form-floating">

      <input type="password" class="form-control" id="password-input-signup" placeholder="Password">
      <label for="password-input-signup" class="form-label">Password</label>

    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" id="login-btn">Sign Up</button>
      <a href="/login">Login instead</a>
  </form>
</main>
</div>

<script src="/js/signup.js"></script>